.current-weather {
    display: flex;
    flex-direction: column;
    height: 100%;

    .current-weather-top-wrapper {
        flex-grow: 1;
        /*display: flex;
        flex-direction: row;
        height: 50%;*/

        .current-weather-top-1 {
            display: flex;
            min-height: 100px;
            align-items: center;

            .current-weather-location {
                font-family: 'Dosis', sans-serif;
                font-size: 3rem;
                line-height: 3rem;
                font-weight: 300;
                color: #ffffff;
            }
        }

        .current-weather-top-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            .current-weather-icon {
                color: #ffffff;
                font-size: 7rem;
            }
        }

        .current-weather-top-3 {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 150px;
            width: 50%;


            .current-weather-temperature {
                font-family: 'Dosis', sans-serif;
                font-size: 4.5rem;
                line-height: 4.5rem;
                font-weight: 700;
                color: #ffffff;
            }
        }

        .current-weather-icon {

        }
    }

    .current-weather-bottom {
        flex-grow: 1;
        .current-weather-text {
            font-family: 'Dosis', sans-serif;
            font-size: 5.5rem;
            line-height: 5.5rem;
            font-weight: 700;
            color: #ffffff;
        }
    }


}

